@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Ubuntu", sans-serif;
	font-size: 100%;
	background:#101010;
}

a{
	text-decoration: none;
	color:#666;
}
	a:hover{
		color:#999;
	}
p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}

.typed-strings{
 color:#111111;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	background:#101010;
	border-radius:5px;
	border:#CCC 1px solid;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}