html, body {
    margin: 0;
    padding: 0;
    background: url(/images/footerbg.png) repeat top left;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    color: #fff;
}
a {
    text-decoration: none;
    color: #ccc;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*MENYBAR VELDIG ROTETE (COPY)*/
html{overflow-y:--moz-scrollbars-vertical}body{padding-bottom:30px}#cometchat{font-size:normal;font-size-adjust:none;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;z-index:100000;direction:ltr}#cometchat_base,#cometchat_base *,.cometchat_chatboxmessage{overflow:visible}#cometchat_base{background-color:#EEEEEE;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#CCCCCC');background:-webkit-gradient(linear,left top,left bottom,from(#262626),to(#141010));background:-moz-linear-gradient(top,#FFFFFF,#CCCCCC);background:-ms-linear-gradient(top,#FFFFFF,#CCCCCC);background:-o-linear-gradient(top,#FFFFFF,#CCCCCC);border-top:1px solid #484743;border-left:1px solid #262626;bottom:0px;display:block;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:10px;height:25px;left:15px;position:fixed;z-index:100000;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px}#cometchat_chatboxes{float:right;height:25px;overflow:hidden}#cometchat_chatboxes_wide{height:25px;width:0px;overflow:hidden}#cometchat_chatbox_left{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:3px -350px;border-left:1px solid #CCCCCC;color:#333333;cursor:pointer;float:right;height:18px;margin-top:1px;padding-left:11px;padding-top:6px;width:10px}#cometchat_chatbox_right{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:11px -572px;border-left:1px solid #CCCCCC;color:#333333;cursor:pointer;float:right;height:18px;margin-top:1px;padding-left:3px;padding-top:6px;width:17px}.cometchat_chatbox_right_last{background-position:11px -611px !important;color:#A7A7A7 !important;cursor:default !important}.cometchat_chatbox_left_last{background-position:3px -389px !important;color:#A7A7A7 !important;cursor:default !important}.cometchat_chatbox_lr{display:none !important}.cometchat_chatbox_lr_mouseover{background-color:#FFFFFF !important} #cometchat_optionsbutton{border-right:1px solid #CCCCCC;width:25px}#cometchat_userstab{padding-left:9px;width:176px}.cometchat_userstabclick{background-position:5px 3px !important;padding-left:8px !important;width:177px !important}.cometchat_closebox{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:4px -973px;float:right;height:12px;width:21px;cursor:pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}.cometchat_closebox:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.cometchat_closebox_bottom{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:1px -1010px;float:right;height:12px;width:16px}.cometchat_closebox_bottom_click{background-position:0px -1010px !important}.cometchat_closebox_bottomhover{background-position:1px -1047px !important}.cometchat_chatboxmouseoverclose{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.cometchat_name{cursor:default;color:#FFFFFF;float:left;font-family:inherit;font-size:inherit}#cometchat_chatbox_buttons{float:right}.cometchat_tabmouseover{color:#111111 !important;background-color:#FFFFFF !important}.cometchat_tabmouseovertext{text-decoration:underline}.cometchat_statusinputs{border-top:1px solid #CCCCCC;margin-top:10px;padding-left:5px;padding-top:4px;color:inherit;font-family:inherit;font-size:inherit}.cometchat_tab{border-left:1px solid #FFFFFF;border-right:1px solid #E5E5E5;color:#333333;cursor:pointer;float:right;font-weight:bold;height:18px;line-height:1.2em;margin-top:1px;padding-left:10px;padding-top:5px;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:10px;text-shadow:0px 0px 0px #FFFFFF;width:140px}.cometchat_tabclick{background:#FFFFFF !important;border-top:0px !important;border-bottom:1px solid #666666 !important;border-left:1px solid #666666 !important;border-right:1px solid #666666 !important;color:#111111 !important;padding-bottom:1px;padding-top:4px !important;text-decoration:underline;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px}.cometchat_usertabclick{padding-left:9px !important;width:141px !important}.cometchat_tabpopup{background-color:#FFFFFF;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;position:fixed;width:230px;z-index:100001;bottom:24px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}#cometchat_userstab_popup{width:224px}#cometchat_optionsbutton_popup{width:224px}.cometchat_tabopen{display:block !important}.cometchat_tabtitle{background-color:#000000 !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#173338');background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#173338));background:-moz-linear-gradient(top,#000000,#173338);background:-ms-linear-gradient(top,#000000,#173338);background:-o-linear-gradient(top,#000000,#173338);border-left:1px solid #2B2B2B;border-right:1px solid #2B2B2B;border-top:1px solid #2B2B2B;color:#FFFFFF;cursor:pointer;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;font-weight:bold;padding:5px;padding-right:0px;text-shadow:0px 0px 0 #FFFFFF;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}.cometchat_userstabtitle{background-color:#000000 !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#173338');background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#173338));background:-moz-linear-gradient(top,#000000,#173338);background:-ms-linear-gradient(top,#000000,#173338);background:-o-linear-gradient(top,#000000,#173338);border-left:1px solid #2B2B2B;border-right:1px solid #2B2B2B;border-top:1px solid #2B2B2B;color:#FFFFFF;cursor:pointer;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;font-weight:bold;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;padding:5px;text-shadow:0px 0px 0 #FFFFFF;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}.cometchat_userstabtitle div{color:#FFFFFF}.cometchat_userstabtitletext{float:left;color:inherit;font-family:inherit;font-size:inherit}.cometchat_tabsubtitle{background-color:#EEEEEE;border-bottom:1px solid #CCCCCC;border-left:1px solid #666666;border-right:1px solid #666666;color:#666666;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;line-height:1.3em !important;padding:5px}.cometchat_plugins{padding-right:5px;padding-top:2px}.cometchat_pluginsicon{cursor:pointer;margin-right:5px;margin-top:4px}.cometchat_pluginsicon:hover{-moz-opacity:0.6;opacity:0.6}.cometchat_pluginsicon_divider{margin-right:5px}.cometchat_tabcontent{background-color:#FFFFFF;background-image:url(themes/default/images/tabbottom.gif);background-position:left bottom;background-repeat:no-repeat;border-left:1px solid #666666;border-right:1px solid #666666;color:#111111;line-height:1.3em !important;overflow:hidden;padding-bottom:1px;font-family:inherit;font-size:inherit}.cometchat_tabcontenttext{white-space:pre-wrap;white-space:-moz-pre-wrap !important;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;white-space:pre;white-space:-hp-pre-wrap;white-space:pre-line;border-bottom:1px solid #CCCCCC;height:200px;overflow-x:hidden;overflow-y:auto;padding:5px;color:inherit;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;text-align:left;width:217px}#cometchat_userscontent{height:200px;line-height:100% !important;overflow-x:hidden;overflow-y:auto}.cometchat_tabcontentinput{border:0px;border-top:1px solid #EEEEEE;outline:none;padding:4px 5px 0px 4px}.cometchat_tabcontentsubmit{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -29px;float:right;height:16px;width:16px;cursor:pointer}.cometchat_textarea{background:#FFFFFF;border:0px;color:#333333 !important;float:left;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;height:18px;outline:none;overflow:hidden;padding:0px;resize:none;width:195px}.cometchat_userlist_hover{background-color:#c4c4c4 !important;color:#111111}.cometchat_tooltip_content{background-color:#333333;color:#FFFFFF;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;padding:5px;white-space:nowrap}.cometchat_userlist{cursor:pointer;height:20px;line-height:100%;padding-top:1px;padding-bottom:1px}.cometchat_userscontentname{float:left;padding-bottom:3px;padding-left:5px;padding-top:4px}.cometchat_userscontentdot{background-position:0px 2px;background-repeat:no-repeat;float:right;height:16px;margin-top:2px;width:20px}.cometchat_available{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -129px !important}.cometchat_away{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -175px !important}.cometchat_busy{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -221px !important}.cometchat_offline{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -1088px !important}#cometchat_tooltip{background-image:url(themes/default/images/pointer.png);background-position:right bottom;background-repeat:no-repeat;bottom:29px;display:none;padding-bottom:4px;position:fixed;z-index:900001}.cometchat_tooltip_left{background-position:left bottom !important}.cometchat_closebox_bottom_status{background-position:0 -1px;background-repeat:no-repeat;float:left;height:16px;width:16px}.cometchat_tabalert{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -532px;background-repeat:no-repeat;background-size:auto auto;color:#ffffff;font-size:8px;font-weight:bold;height:18px;padding-top:4px;position:absolute;text-align:center;width:16px;text-shadow:none;top:-8px !important}.cometchat_tabalertlr{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -537px;color:#ffffff;font-size:8px;height:16px;padding-top:1px;position:absolute;text-align:center;width:16px}.cometchat_chatboxmessage{margin-left:1em;color:inherit;font-family:inherit;font-size:inherit}.cometchat_chatboxmessagefrom{font-weight:bold;margin-left:-1em;color:inherit;font-family:inherit;font-size:inherit}.cometchat_statustextarea{border:1px solid #CCCCCC;color:#111111;background:#FFFFFF;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;height:42px;margin-bottom:3px;margin-top:3px;outline:none;overflow-x:hidden;overflow-y:auto;padding:4px;resize:none;width:200px}.cometchat_search{border:1px solid #CCCCCC;color:#111111;background:#FFFFFF;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;outline:none;overflow-x:hidden;overflow-y:auto;padding:4px;width:200px}.cometchat_search_light{color:#333333 !important}.cometchat_optionsstatus{cursor:pointer;float:left;padding-left:6px;padding-top:1px;width:76px;visibility:visible !important}.cometchat_optionsstatus2{float:left;padding-left:10px}.cometchat_tabsubtitle a{color:#666666 !important}.cometchat_tabcontent a{color:#32C5FA !important}.cometchat_user_invisible{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:10px -890px !important;height:16px;width:16px}.cometchat_user_available{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -752px !important;height:16px;width:16px;float:left}#cometchat_userstab_icon{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -753px;float:left;height:16px;padding-right:5px;width:16px}.cometchat_user_invisible2{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -891px !important}.cometchat_user_available2{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -753px !important}.cometchat_user_busy2{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -799px !important}.cometchat_user_away2{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -845px !important}.cometchat_optionsimages{display:block;height:16px;width:16px;background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -314px !important;float:left}.cometchat_optionsimages_click{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:10px -310px !important}.cometchat_optionsimages_exclamation{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:10px -263px !important}.cometchat_trayicon{border-right:1px solid #E5E5E5;cursor:pointer;float:left;height:18px;margin-left:1px;margin-top:1px;padding-left:7px;padding-right:7px;padding-top:5px}.cometchat_smiley{vertical-align:-3px}.cometchat_traypopup{background-color:#FFFFFF;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;position:fixed;z-index:100001;bottom:24px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}.cometchat_traytitle{background-color:#000000 !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#173338');background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#173338));background:-moz-linear-gradient(top,#000000,#173338);background:-ms-linear-gradient(top,#000000,#173338);background:-o-linear-gradient(top,#000000,#173338);border-left:1px solid #666666;border-right:1px solid #666666;border-top:1px solid #666666;color:#FFFFFF;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;font-weight:bold;padding:5px;padding-right:0px;text-shadow:0px 0px 0px #FFFFFF;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}.cometchat_traycontent{background-color:;background-image:url(themes/default/images/tabbottom_tray.gif);background-position:left bottom;background-repeat:no-repeat;border-left:1px solid #666666;border-right:1px solid #666666;color:#111111;overflow-x:hidden;overflow-y:auto;padding-bottom:1px}.cometchat_traycontenttext{overflow-x:hidden;overflow-y:hidden;padding:0px;position:relative}.cometchat_trayclick{background-color:#FFFFFF !important;border-bottom:1px solid #666666 !important;border-left:1px solid #666666 !important;border-right:1px solid #666666 !important;color:#111111 !important;margin-left:0px;padding-bottom:1px;padding-top:4px !important;text-decoration:underline;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px}.cometchat_traytitle .cometchat_minimizebox{margin-right:6px}.cometchat_userstabtitle .cometchat_minimizebox{margin-right:2px}.cometchat_minimizebox{cursor:pointer;background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:10px -462px;float:right;height:12px;width:21px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}.cometchat_minimizebox:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.cometchat_chatboxtraytitlemouseover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.cometchat_star{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:4px -1068px;height:16px;width:16px}.cometchat_star_empty{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -1150px;height:16px;width:16px}.cometchat_star_half{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0 -1196px;height:16px;width:16px}.cometchat_name a,.cometchat_name a:link,.cometchat_name a:visited{color:#FFFFFF;float:left;color:#FFFFFF;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;text-decoration:underline}.cometchat_name a:hover{color:#FFFFFF;text-decoration:none}.cometchat_avatar{border:1px solid #CCCCCC;height:28px}.cometchat_avatarbox{float:left;padding-right:5px}.cometchat_ts{color:#CCCCCC;cursor:default;display:none;font-size:10px;padding-left:5px;padding-top:2px}.cometchat_ts:hover{color:#333333;cursor:default;font-size:10px;padding-left:5px;padding-top:2px}.cometchat_ts_date{display:none}.cometchat_optionstyle{background-image:url(themes/default/images/tabbottomoptions.gif);padding:5px;padding-bottom:10px}.cometchat_tabstyle{background-image:url(themes/default/images/tabbottomwhosonline.gif);height:200px;padding-bottom:5px;padding-top:5px}.cometchat_self{color:#333333 !important}.cometchat_typing{background-image:url(themes/default/images/pencil.png);display:none;float:left;height:13px;width:16px}.cometchat_userscontentavatar{display:block;float:left;padding-bottom:1px;padding-left:5px;padding-top:1px}.cometchat_userscontentavatarimage{height:18px;width:18px}.cometchat_notification_avatar_image{height:25px;width:25px}.cometchat_notification{border-top:1px dotted #666666;cursor:pointer;margin-top:6px;padding-top:4px;width:176px}.cometchat_notification:first-child{border-top:0px !important;margin-top:0px !important;padding-top:0px !important;width:176px}.cometchat_notification_avatar{float:left;padding-right:6px;padding-top:2px;width:25px}.cometchat_notification_message{float:left;white-space:normal;width:144px}.cometchat_notification_status{color:;display:none;font-size:10px}.cometchat_statusbutton{background-color:#000000 !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#173338');background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#173338));background:-moz-linear-gradient(top,#000000,#173338);background:-ms-linear-gradient(top,#000000,#173338);background:-o-linear-gradient(top,#000000,#173338);border:1px solid #2B2B2B;color:#FFFFFF;cursor:pointer;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;font-weight:bold;text-shadow:0px 0px 0 #FFFFFF;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px}.cometchat_guestnamebutton{background-color:#000000 !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#173338');background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#173338));background:-moz-linear-gradient(top,#000000,#173338);background:-ms-linear-gradient(top,#000000,#173338);background:-o-linear-gradient(top,#000000,#173338);border:1px solid #2B2B2B;color:#FFFFFF;cursor:pointer;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;font-weight:bold;text-shadow:0px 0px 0 #FFFFFF;margin-left:7px;padding:4px;height:23px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px}.cometchat_guestnametextbox{border:1px solid #CCCCCC;color:#111111;background:#FFFFFF;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;margin-bottom:3px;margin-top:3px;outline:none;overflow-x:hidden;overflow-y:auto;padding:4px;resize:none;width:115px}.cometchat_user_busy{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:0px -798px !important;height:16px;padding-left:0px !important;width:16px}.cometchat_announcement{color:inherit;font-family:inherit;font-size:inherit;word-wrap:break-word;white-space:normal;width:176px}.cometchat_tooltip_content a{border-bottom:1px dotted #32C5FA;color:#32C5FA;text-decoration:none}.cometchat_user_shortname{color:inherit;font-family:inherit;font-size:inherit;float:left}#cometchat_hidden{background-image:url(themes/default/images/bgrepeat.png);bottom:0px;cursor:pointer;display:none;position:fixed;right:20px;z-index:100000}#guestsname{display:none;border-bottom:1px solid #CCCCCC;padding-bottom:5px;margin-bottom:5px}#cometchat_hidden_content{background:url(themes/default/images/cometchat.png) no-repeat top left;background-position:7px -24px;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;height:25px;padding-left:7px;padding-right:7px;width:16px}.cometchat_xtc{background:transparent url(themes/default/images/xgtc.png) repeat scroll 0 0;height:10px}.cometchat_xcl{background:transparent url(themes/default/images/xgcr.png) repeat scroll 0 0;width:16px}.cometchat_xcr{background:transparent url(themes/default/images/xgcl.png) repeat scroll 0 0;width:10px}.cometchat_xcc{background:transparent url(themes/default/images/xgcc.png) repeat scroll 0 0;font-size:10px}.cometchat_xbc{background:transparent url(themes/default/images/xgbc.png) repeat scroll 0 0;height:8px}.cometchat_tc{background:transparent url(themes/default/images/gtc.png) repeat-x scroll 0 0;height:10px}.cometchat_cl{background:transparent url(themes/default/images/gcl.png) repeat scroll 0 0;width:10px}.cometchat_cr{background:transparent url(themes/default/images/gcr.png) repeat scroll 0 0;width:16px}.cometchat_cc{background:transparent url(themes/default/images/gcc.png) repeat scroll 0 0;font-size:10px}.cometchat_bc{background:transparent url(themes/default/images/gbc.png) repeat-x scroll 0 0;height:8px}.cometchat_iphone .cometchat_chatboxmessage{margin-left:0px}.cometchat_iphone .cometchat_chatboxmessagefrom{display:none}.cometchat_iphone{margin-bottom:4px}.cometchat_bl{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -59px;height:9px;width:10px}.cometchat_br{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -118px;height:9px;width:16px}.cometchat_tl{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -393px;height:10px;width:10px}.cometchat_tr{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -453px;height:10px;width:16px}.cometchat_xbr{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -572px;height:9px;width:10px}.cometchat_xbl{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -631px;height:9px;width:16px}.cometchat_xtr{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -906px;height:10px;width:10px}.cometchat_xtl{background:url(themes/default/images/iphone.png) no-repeat top left;background-position:0 -966px;height:10px;width:16px}#cometchat_hide{background:url(http://mafiaspillet.no/cometchat5.1/themes/default/images/hide.png) no-repeat top left;background-position:8px;border-right:1px solid #CCCCCC;cursor:pointer;float:right;height:18px;margin-left:1px;margin-top:1px;padding-left:7px;padding-right:7px;padding-top:6px;width:16px}#cometchat_flashcontent{position:absolute;top:-1000px}#cometchat_userstab_text{float:left;text-overflow:ellipsis;max-width:85%;overflow:hidden;white-space:nowrap}#cometchat_searchbar{display:none;background:#FFFFFF}.untranslatedtext{color:#333333;}.cometchat_trayicontext{float:left;color:#333333;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:10px;width:auto;padding-top:1px;padding-left:5px;text-shadow:0px 0px 0px #FFFFFF}.cometchat_trayiconimage{float:left}.cometchat_subsubtitle{color:#666666;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;line-height:1.3em;padding:5px 0;cursor:default;margin-top:5px;margin-bottom:5px;overflow:hidden;white-space:nowrap}.cometchat_subsubtitle_top{margin-top:0px;padding-top:0px}.cometchat_subsubtitle .hrleft{display:inline-block;width:5px;border:0;background-color:#CCCCCC;height:1px;margin-right:5px;margin-bottom:3px}.cometchat_subsubtitle .hrright{display:inline-block;width:200px;border:0;background-color:#CCCCCC;height:1px;margin-left:5px;margin-bottom:3px}.cometchat_nofriends{font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;line-height:1.3em;padding:0px 10px;color:#666666}.cometchat_ad{background:#FFFFFF}.cometchat_message{overflow:hidden;color:inherit;font-family:inherit;font-size:inherit}.cometchat_container{z-index:100001;position:absolute}.cometchat_container_title{cursor:default;background-color:#000000 !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#173338');background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#173338));background:-moz-linear-gradient(top,#000000,#173338);background:-ms-linear-gradient(top,#000000,#173338);background:-o-linear-gradient(top,#000000,#173338);border-left:1px solid #2B2B2B;border-right:1px solid #2B2B2B;border-top:1px solid #2B2B2B;color:#FFFFFF;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;line-height:14px;padding:5px;font-weight:bold;padding-left:10px;padding-bottom:6px;padding-right:0px;text-shadow:0px 0px 0 #FFFFFF;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}.cometchat_container_body{border-left:1px solid #666666;border-bottom:1px solid #666666;border-right:1px solid #666666;background-color:#FFFFFF;position:relative}.cometchat_iframe{position:absolute;top:0px;left:0px}.cometchat_loading{position:absolute;background:url(themes/default/images/loader.gif);right:10px;top:10px;background-repeat:no-repeat;width:20px;height:20px}.cometchat_overlay{position:absolute;top:0px;left:0px;display:none}.cometchat_options_disable{border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;margin-top:10px;margin-bottom:4px;padding-top:4px;padding-bottom:4px;color:inherit;font-family:inherit;font-size:inherit}#cometchat_userstab_popup_available,#cometchat_userstab_popup_busy,#cometchat_userstab_popup_invisible,#cometchat_userstab_popup_offline{cursor:pointer}.cometchat_tabsubtitle2{cursor:pointer;background-color:#EEEEEE;border-bottom:1px solid #CCCCCC;border-left:1px solid #666666;border-right:1px solid #666666;font-family:Tahoma,Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;padding:10px 8px;line-height:1.3em !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;color:#666666 !important;font-weight:bold;text-decoration:none}.cometchat_tabsubtitle2:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;text-decoration:underline;background-color:#FFFFFF}.cometchat_ccmobiletab_redirect{background-color:#EEEEEE;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#CCCCCC');background:-webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#CCCCCC));background:-moz-linear-gradient(top,#FFFFFF,#CCCCCC);background:-ms-linear-gradient(top,#FFFFFF,#CCCCCC);background:-o-linear-gradient(top,#FFFFFF,#CCCCCC);border-top:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;position:fixed;bottom:0;right:10%;width:25%;color:#333333;cursor:pointer;font-weight:bold;line-height:1.2em;padding:15px;text-align:left;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:38px;border-radius:10px 10px 0 0;text-shadow:0px 0px 0px #FFFFFF}.cometchat_ccmobiletab_tabalert{background:none repeat scroll 0 0 #EE397A;border-radius:10px;color:white;position:absolute;right:30%;text-shadow:0px 0px 35px white;text-align:center;text-shadow:none !important;bottom :90%;padding:0 10px;line-height:normal;border-width:3px 5px 3px;border-style:solid;border-color:#D11559}.cometchat_ccmobiletab_tabalert:before{border-color:#D11559 transparent transparent;border-style:solid;border-width:9px;bottom:-18px;content:"";position:absolute;right:20%}.cometchat_unblock{float:right;cursor:pointer;background:url('plugins/block/unblock.png') no-repeat scroll 0px 0px transparent;height:16px;width:16px;margin-top:-1.5px}.cometchat_userlist .cometchat_userscontentname{text-overflow:ellipsis;width:160px;white-space:nowrap;overflow:hidden !important}.cometchat_tab .cometchat_user_shortname{text-overflow:ellipsis;max-width:105px;white-space:nowrap;overflow:hidden !important}.cometchat_tabtitle .cometchat_name a{text-overflow:ellipsis;max-width:160px;white-space:nowrap;overflow:hidden !important}.cometchat_tabtitle .cometchat_name{text-overflow:ellipsis;max-width:160px;white-space:nowrap;overflow:hidden !important}.invite_name{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:100px;float:left}



/*SLUTT PÅ MENYBAR*/


/*Start på warning*/
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px; 
  height:203px;
}
/*Slutt på warning*/

a:hover {
    color: #BBB;
}

.wrapper {
    width: 1000px;
    margin: 0 auto 0 auto;
}

h1 {
    margin: 0;
    padding: 7px 0px 5px 27px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #000;
    box-shadow: 0px 1px 0px #313131;
    background: rgba(0,0,0,0.2);
}

h2 {
  margin: 0;
  padding: 4px 0px 3px 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  box-shadow: 0px 1px 0px #313131;
  border-top: 1px solid rgba(211, 211, 211, 0.12);
  padding: 6px;
  background: rgba(73, 73, 73, 0.29);
}

hr {
	border:none;
	border-bottom: 3px solid #111;
	margin:0;
}

table, tr, td, tbody {
    margin: 0;
    padding: 0;
    border-spacing: 0;
	max-width: 100%;
}

::selection {
background-color: #447788;
color: #fff;
}

/* Header */

#headerbg {
  width: 100%;
height: 175px;
padding-top: 110px;
background: #EBEBEB;
}

.light {
    background: url(/images/headerbg.png) repeat top left;
}
.dark {
    background: url(/images/headerbgdark.png) repeat top left;
}

#header {
	width: 1000px;
	height: 150px;
	margin: 0 auto 0 auto;
	background: url(/images/mikheader.png) no-repeat top left;
	border: solid 1px #FFFFFF;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #B8B8B8;
	box-shadow: inset 0 0 27px #AFAFAF;
	margin-top: -15px;
}

/* Hovedseksjonen */

section {
    width: 100%;
    background: url(/images/bg.png) repeat top left;
    float: left;
    border-bottom: 1px solid #333;
    box-shadow: 0px 2px 5px #060606;
}

#shadow {
    width: 1000px;
    height: 23px;
    background: url(/images/shadow.png) no-repeat top center;
}

#content {
    width: 1000px;
    background: url(/images/mainbg.png) repeat-y top center;
    float:left;
    padding-bottom: 50px;
}

#leftmenu, #rightmenu {
width: 186px;
float: left;
background: #181818;
border: 1px solid #2B2B2B;
}

#leftmenu ul, #rightmenu ul{
    width: 190px;
    padding: 0px 0px 10px 30px;
    font-size: 12px;
    line-height: 1.5;
}

#leftmenu li, #rightmenu li{
    list-style: none;
    color: #666;
}

#leftmenu a, #rightmenu a {
text-decoration: none;
color: #AFAFAF;
}

#leftmenu a:hover, #rightmenu a:hover{
    text-decoration: none;
    color: #999;
}

#main {
width: 600px;
margin: 0 10px 0 10px;
min-height: 600px;
background: #1a1a1a;
float: left;
border: 1px solid #2B2B2B;
}

/* Nyheter */

.news1, .news2 {
    margin-bottom: 15px;
}

.news2 td, .news1 td {
    width: 590px;
    background: #666;
    color: #111;
    font-size: 11px;
    text-align: right;
    padding-right: 10px;
    padding-top: 3px;
}

.news2 td[colspan], .news1 td[colspan] {
    text-align: left;
    background: #333;
    padding: 10px 0px 10px 10px;
	font-size: 12px;
	color: #ccc;
}

.news2 .linkstyle a, .news1 .linkstyle a {
    float: right;
    display: block;
    margin-left: 5px;
    text-decoration: none;
    color: #ccc;
}

.news2 span, .news1 span {
    width: 400px;
    color: #ccc;
    font-size: 12px;
}

.innlegsdato {
    clear:right;
    float:right;
    display: block;
}

.news2 b, .news1 b {
    float: left;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding: 7px 0px 10px 10px
}

input[type="button"], input[type="submit"], .button {
padding-left: 10px;
background-color: #3D3A3A;
background: #FFFFFF;
border: 1px solid #c0c0c0;
border-bottom: 1px solid #FFD3D3;
color: #61586a;
cursor: pointer;
/*display: inline-block;*/
font: bold 11px 'helvetica-neue', sans-serif;
margin: 20px;
padding: 5px;
position: relative;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
vertical-align: top;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 1px 6px rgba(229,221,232,.9), inset 0 1px 0 rgba(249,249,249,.9);
-webkit-transition: all 0.5s ease-out;
}
input[type="submit"].endre:hover {
padding-left: 10px;
background-color: #000000;
background: #000000;
border: 1px solid #000000;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font: bold 11px 'helvetica-neue', sans-serif;
margin: 20px;
padding: 7px 18px;
position: relative;
text-decoration: none;
text-shadow: none;
vertical-align: top;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 1px 6px rgba(229,221,232,.9), inset 0 1px 0 rgba(249,249,249,.9);
-webkit-transition: all 0.5s ease-out;
}
input[type="text"]:not(.frelst){
  background-color: #aaa; 
  border: 1px; 
  height: 16px;
}

/* Funksjoner */

#main p, #main pre {
padding-left: 15px;
width: 560px;
line-height: 1.2;
padding: 10px;
}
.feil2 {
    width: 560px;
	background: #911B1B;
	text-align: center;
    color: #eee;
	font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -8px;
    font-size: 11px;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-radius: 4px;
}

.feil3 {
	padding: 8px 0px 8px 14px;
	margin-left: 12px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: rgb(34, 139, 34);
	border: 1px solid #eed3d7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #b94a48;
}

/*.feil {
    width: 400px;
	background: rgb(90,0,0);
    background-image: linear-gradient(top, rgb(140,0,0) 0%, rgb(90,0,0) 100%);
    background-image: -o-linear-gradient(top, rgb(140,0,0) 0%, rgb(90,0,0) 100%);
    background-image: -moz-linear-gradient(top, rgb(140,0,0) 0%, rgb(90,0,0) 100%);
    background-image: -webkit-linear-gradient(top, rgb(140,0,0) 0%, rgb(90,0,0) 100%);
    background-image: -ms-linear-gradient(top, rgb(140,0,0) 0%, rgb(90,0,0) 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(140,0,0)),
        color-stop(1, rgb(90,0,0))
    );
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 15px;
    font-size: 12px;
    color: #110000;
    text-shadow: 0px 1px 0px rgb(140,0,0);
    border-radius: 15px;
}

.lykket {
width: 580px!important;
background: rgba(0,10,0,0.4);
padding-top: 12px;
padding-bottom: 12px;
margin-left: 0px;
font-size: 12px;
color: rgb(255, 255, 255);
background: #347510;
}
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 15px;
    font-size: 12px;
    color: #001100;
    text-shadow: 0px 1px 0px rgb(0,140,0);
    border-radius: 15px;
}*/

.feil {
    width: 580px!important;
	background: rgba(10,0,0,0.4);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 0px;
    font-size: 12px;
    color: rgb(150,0,0);
}

.lykket {
    width: 580px!important;	
	background: rgba(0,10,0,0.4);    
	padding-top: 12px;   
	padding-bottom: 12px;   
	margin-left: 0px;  
	font-size: 12px;   
	color: rgb(0,150,0);
}

/* Footer */

footer {
    width: 1000px;
    margin: 0 auto 0 auto;
    clear: both;
    color: #444;
}

footer a {
    text-decoration: none;
    color: #999;
    font-weight: bold;
}

footer a:hover {
    color: #ccc;
}


footer #spot1 {
    width: 200px;
    height: 60px;
    padding-top: 40px;
    float:left;
}

footer #spot2 {
    width: 600px;
    height: 60px;
    padding-top: 40px;
    text-align: center;
    float:left;
}

footer #spot3 {
    width: 200px;
    height: 60px;
    padding-top: 40px;
    text-align: right;
    float:left;
}
/*Tabeller*/
.table, #garasje{
    border-collapse:collapse;
    width:100%;
    margin:auto;
}
.table th,.table td, #garasje th, #garasje td{
    border-right:1px solid #111;
    border-bottom:1px solid #111;
    color:#ccc;
    background:#222;
    padding: 3px;
	max-width: 100%;
}
.table th:last-child,.table td:last-child, #garasje th:last-child, #garasje td:last-child{
    border-right:none;
}
.table tbody tr:last-child th,.table tbody tr:last-child td, #garasje tbody tr:last-child th,#garasje tbody tr:last-child td{
    border-bottom:none;
}
.table td, #garasje .biler td{
    background:#666;
}
.table tr.c_1 td{
    background:#666;
}
.table tr.c_2 td, .table tr.c_3 td{
    background:#333;
}

.normrad1{
    background: #333 !important;
}

#bilfrakt input {
    margin: 5px 20px 5px 0px;
}

.table.flyplass {
    width: 400px!important;
}

.table.chat {
    margin-top: 10px;
}

.table.chat2 {
    width: 80px!important;
    padding: 10px!important;
}

.table.chat3 {
    width: 380px!important;
    padding: 10px!important;
}

.table.tema td {
    /*background: #5C5957;*/
    padding: 1px;
    margin: 1px;
}

.table.bj td {
    padding: 0px!important;
	text-align: center;
}

.table.bj {
	margin: 15px 0px 15px 0px;
}

.table.stats {
	width: 290px;
	margin-top: 15px;
}

#lotto th {
    background: #666!important;
}

#lotto th[colspan="2"] {
    background: #222!important;
}

.bank {
    margin-top: 15px;
    width: 400px;
}

.forumimg {
	width: 150px;
	padding: 0 !important;
}

.forumsvar {/*
	border-bottom: 1px solid #333;
	border-top: 1px solid #999;*/
}

.adminpanel {
	margin:0;
	padding:0;
	list-style: none;
	width: 100%;
	max-width: 100%;
	margin-top: 15px;
}

.adminpanel a li {
	width: 50%;
	background: #ccc;
	border-bottom: 1px solid #333;
	border-top: 1px solid #fff;
	margin: 0px auto 0px auto;
	padding-top: 7px;
	text-align: center;
	font-weight: normal;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.adminpanel a li:hover {
	background: #aaa;
}

.adminpanel a {
	color: #111;
}

.adminpanel a:first-child li {
	border-radius: 10px 10px 0 0;
	border-top: none;
}

.adminpanel a:last-child li {
	border-radius: 0 0 10px 10px;
	border-bottom: none;
}

.profiltekst{
	padding-top: 15px;
}

.profiltekst a{
	font-weight: bold;
	text-decoration: underline;
}

.ct1 {
	width: 580px;
	padding: 5px 10px 5px 10px;
	background: rgba(0,0,0,0.2);
	font-size: 10px;
	color: #999;
}
.ct2{
	width: 580px;
	padding: 5px 10px 5px 10px;
	font-size: 10px;
	color: #999;
}
.chattext {
	font-size: 12px;
	color: #fff;
	max-width: 580px;
	margin-top: 5px;
}
.systeminnboks {
padding: 10px;
margin: 10px;
width: auto;
height: auto;
border: 1px solid #742A2A;
border-radius: 13px;
background: #6B1A1A;
}
.systeminnboks a{
 -moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.systemdato{
float: right;
height: 18px;
}
.faq_1 .faq_2 {
  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
  border:1px dotted #666;
  background: #202020;
  color: #555555;
  margin: 10px 0 10px 0;
  text-align: justify;
}
.tema_wrap {
  color: #666666;
  width: 580px;
  margin: 5px auto 20px;
}

.forumhoyre{
width: 190px;
height: 270px;
border: 1px dotted;
position: absolute;
right: 260px;
top: 251px;
}
.forumstart{
border: 1px solid #000000;
display: inline-block;
width: 597px;
background-color: #292929;
}
/*FORUM*/
.object_one{ /*Bildet*/
display: block;
float: left;
margin: 5px;
width: 172px;
/*background-color: red;*/
}
.object_two{ /*Teksten*/
float: left;
display: block;
/*background-color: blue;*/
}
.object_three{ /*Dato*/
width: 401px;
text-align: center;
background-color: #474747;
}
.object_four{ /*Sitering*/
background-color: #987A2D;
display: block;
width: 401px;
}
/*Farger for statusfunksjon*/
.stat1{
  /*Admin*/
  color:#0ff;
}
.stat2{
  /*Moderator*/
  color:#0f0;
}
.stat3{
/*Forum-moderator*/
  color:#ff0;
}
.stat4{
/*Picmaker*/
  color:inherit;/*Legg inn en eller annen farge her :3*/
}
.stat5{
/*Vanlig spiller*/
  color:#fff;
}
.stat6{
/*Død spiller*/
  color:#f00;
}

/* Pagination */
.pagination {
    text-align: center;
}
.pagination span, .pagination a {
  margin: 5px 2px 5px 2px;
  padding: 2px;
  color: #aaa;
  text-decoration: none;
  font-size: 10px;
  border: solid 1px #333333;
  display: inline-block;
}
.pagination a:hover, .pagination a.active:hover, .pagination a.active:hover {
background: darkolivegreen;
}
.pagination span { font-style: italic; }
.pagination a.active {
    background: darkolivegreen;
}
.pagination a.seperator {
    background: #161616;
    border-color: #262626;
    color: #555555;
}
.pagination a.seperator:hover {
    background: #504940;
    color: #111111;
    border-color: #504940;
}
/*Mikkal, du luringen din xD*/
#repro { 
position: fixed; 
width: 100%; 
height: 68px; 
top: 0px; 
background: rgba(54, 54, 54, 0.48); 
vertical-align: top; 
color: #FFF; 
-webkit-user-select: none; 
background: #333333; 
-moz-box-shadow: inset 0 0 10px #000000; 
-webkit-box-shadow: inset 0 0 10px #000000; 
box-shadow: inset 0 0 27px #000000; 
margin-top: -15px; 
z-index: 333; 
}
#repro .content {
width: 1068px;
margin: 0 auto;
height: 54px;
overflow: hidden;
font-size: 13px;
}
#logo {
    width: 40px;
    height: 54px;
    background: url("http://i.imgur.com/X9iWd.png") no-repeat center center;
    display: inline-block;
    text-indent: -9999px;
    vertical-align: top;
}
#logo:active {
    margin-top: 1px;
}
#repro .info {
    display: inline-block;
    position: relative;
    height: 54px;
    width: 380px;
    vertical-align: top;
    overflow: hidden;
}
#repro .art {
    width: 36px;
    height: 36px;
    position: relative;
    top: 8px;
    left: 9px;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.7);
    display: inline-block;
}
#repro .text {
    display: inline-block;
    position: relative;
    left: 15px;
    font-size: 90%;
    line-height: 15px;
    top: 3px;
}
#repro .track, #repro .artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 395px;
}
#repro .artist {
    opacity: 0.8;
}
#play {
    display: inline-block;
    width: 40px;
    height: 54px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}
#reproducir, #detener {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 54px;
    background-size: 28px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    -webkit-transition: opacity 250ms ease-in-out;
}
#reproducir:hover, #detener:hover {
    opacity: 1;
}
#reproducir:active, #detener:active {
    top: 1px;
}
#reproducir {
    background-image: url('http://i.imgur.com/pDVRy.png');
}
#detener {
    background-image: url('http://i.imgur.com/0QfQK.png');
}
#repro nav {
  display: inline-block;
  width: 1000px;
  margin-left: -5px;
  vertical-align: top;
  height: 54px;
}
#repro nav ul {
width: 100%;
display: table;
height: 54px;
table-layout: fixed;
border-right: 1px solid rgba(255, 255, 255, 0.14);
}
#repro nav ul li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    border-left: 1px solid rgba(255, 255, 255, 0.14);
    line-height: 53px;
}
#repro nav a {
color: #FFF;
text-decoration: none;
font-size: 100%;
opacity: 0.8;
-webkit-transition: all 100ms ease-in-out;
display: block;
width: 100%;
height: 100%;
}
#repro nav a:hover {
    opacity: 1;
}
#repro nav a:active {
    box-shadow: inset 0 3px 15px 2px rgba(0, 0, 0, 0.4);
}

#main.site {
    width: 1088px;
    margin: 54px auto 0 auto;
    background: #FFF;
    min-height: 700px;
    box-shadow: 0 0 3px 1px #CCC;
    vertical-align: top;
}
#site, #sidebar {
    vertical-align: top;
    display: inline-block;
    min-height: 300px;
    padding: 10px;
}
#site {
    width: 748px;
}
#sidebar {
    width: 340px;
}
#write::-webkit-input-placeholder {
    color:    #222;
}
#write:-moz-placeholder {
    color:    #222;
}
#write::-moz-placeholder {
    color:    #222;
}
#write:-ms-input-placeholder {
    color:    #222;
}
#avatar {
width: 100%;
margin-bottom: -2px;
}
.table td {
border-right: 1px solid #111;
border-bottom: 1px solid #111;
color: #999;
border-right: 1px solid rgba(253, 253, 253, 0.03);
border-bottom: 1px solid rgba(255, 255, 255, 0.06);
color: #999;
padding: 11px;
background: #0C0B0B;
}
.shadow {
box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
width: 95px;
height: 95px;
border-radius: 8px;
}
#brukerbilde{
  width: 95px;
  height: 95px;
  position:relative;
  z-index:0;
  border-radius: 8px;
}
.custom-menu {
  z-index:1000;
  position: absolute;
  background-color:#999999;
  border: 2px solid #121212;
  padding: 2px;
}
.custom-menu ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}
.custom-menu ul li{
  padding: 5px 0 5px 0;
  width:100%;
  background: #ffff00;
  color: #990066;
  font-weight: bold;
  text-decoration: underline;
}
.custom-menu ul li:hover{
  background: #330033;
}
.custom-menu ul li a{
  color:#339900;
}