@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
.profiltekst {
    padding-top: 15px!important;
    padding-left: 3em!important;
    padding-right: 3em!important;
    padding-bottom: 3em!important;
}

body{
  font-family: 'PT Sans', sans-serif!important;
}
#headerbg {
    background: #2d2d2d!important;
}
#information {
    display: none!important;
}
.table td {
    padding: 5px!important;
}
#header {
    box-shadow: none!important;
    border: none!important;
}
#leftmenu a, #rightmenu a {
    text-decoration: none!important;
    letter-spacing: 0.2px!important;
}
#header {
   background: url(https://mikeandrew.co/banner_test.svg) no-repeat top left!important;
}
.ct1 {
    padding: 5px!important;
    background: none!important;
    color: #606060!important;
}
.ct2 {
    padding: 5px!important;
    background: none!important;
    color: #606060!important;
}
.ct3 {
    padding: 5px!important;
    background: none!important;
    color: #606060!important;
}
.chattext {
    color: #4a4a4a!important;
}
div#ct {
    padding-top: 10px;
    opacity: 0.6!important;
    transition: all 0.5s ease;
}
div#ct:hover {
    opacity: 0.9!important;
    transition: all 0.5s ease;

}
#headerbg {
    margin-top: 110px;
    padding-top: none!important;
}
#header{
overflow: hidden!important;
height: 70px!important;
}
img#profileuserimage {
    padding: 2em;
    opacity: 0.4!important;
    transition: all 0.5s ease;
}
img#profileuserimage:hover {
    padding: 2em;
    opacity: 0.9!important;
    transition: all 0.5s ease;
}
section.newsection {
    background: url(https://mikeandrew.co/banner_test.svg) #242424 center;
    height: 7em!important;
    background-repeat: no-repeat!important;
}
#header {
    background: none!important;
}
#headerbg {
    width: 100%!important;
    height: 80px!important;
    padding-top: 82px!important;
}

#navbar_top {
    position: relative!important;
    background: transparent!important;
    box-shadow: none!important;
}
input#write {
    outline: none!important;
    border: none!important;
    border-radius: 0!important;
    padding: 9px!important;
    background: #565656!important;
}
#headerbg {
    width: 100%!important;
    height: 80px!important;
    padding-top: 23px!important;
}
#navbar_top{
  margin-top: 0!important;

}
#headerbg {
    background: #2d2d2d!important;
    margin-top: 71px!important;
}
#navbar_top nav ul {
    height: 54px!important;
    position: relative!important;
    top: -13px!important;
}
#navbar_top nav a {
    color: #636363!important;
    padding-top: 3px!important;
}
table.online {
    width: 100%!important;
}
table.online tbody td, table.extra tbody td {
    padding: 10px!important;
}
div#ct {
    padding-top: 0!important;
}
div#ct {
    padding-top: 0!important;
    position: absolute!important;
    top: 149px!important;
}
h2 {
    padding-left: 2em!important;
}
.table, #garasje {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
#leftmenu a, #rightmenu a {
      transition: all 0.5s ease;
      color: #5d5d5d!important;

}

#leftmenu a:hover, #rightmenu a:hover {
  color: #cecece!important;
      transition: all 0.5s ease;
}
#leftmenu li, #rightmenu li {
    padding-bottom: 4px!important;
    padding-top: 4px!important;
}
div#praten {
    padding: 15px!important;
}
input#write {
    outline: none!important;
    border: none!important;
    border-radius: 0!important;
    padding: 18px!important;
    background: #262626!important;
    margin-left: 0px!important;
    width: 100%!important;
}
#write{
color: #fff!important;
}
#write::-webkit-input-placeholder {
    color: #4a4a4a!important;
}

#write:-moz-placeholder {
    color: #4a4a4a!important;
}

#write::-moz-placeholder {
    color: #4a4a4a!important;
}

#write:-ms-input-placeholder {
    color: #4a4a4a!important;table.tablemain {
    margin: 0 auto;
    width: 100%;
}
table.tablemain {
    margin: 0 auto;
    width: 100%!important;
}
