<!DOCTYPE html>
<html lang="no">
<head>
    <base href="../">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="./favicon.ico" rel="shortcut icon">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>#PAGE_TITLE#</title>
    <script src="./js/jquery.js"></script>
    <script src="./js/teller.js"></script>

</head>
<body>
<section class="newsection"></section>
<div id="navbar_top">
    <div class="content">
        <nav>
            <ul>
                <li><a href="profil.php?id=1">Profil</a></li>
                <li><a href="innboks.php">Innboks #USER_INBOX#</a></li>
                <li><a href="statistikk.php">Statistikk</a></li>
                <li><a href="fengsel.php">Fengsel</a></li>
                <li><a href="bj.php">BlackJack</a></li>
                <li><a href="online.php">Spillere pålogget (#ONLINE_USERS#)</a></li>
            </ul>
        </nav>
    </div>
</div>
<div id="information">
    <p>Spillet har blitt oppdatert. CTRL + F5</p>
</div>
<header id="headerbg">
    <div id="header">
        <div id="ct">
            #CHAT_MESSAGES_HEADER#
        </div>
        <noscript><p>å spille #DOMAIN# uten javascript aktivert vil vise seg å være fungere
            dårlig,
            vennligst aktiver javascript eller bruk en nettleser som støtter dette.</p></noscript>
    </div>
</header>
<section>
    <div class="wrapper">
        <div id="content">
            <div id="shadow"></div>
            <div id="leftmenu"><h2>Rank</h2>
                <ul>
                    <li><a href="#">Kriminalitet#WAIT_CRIME#</a>
                    <li><a href="#">Biltyveri#WAIT_CAR#</a>
                    <li><a href="#">Ran Spiller#WAIT_ROB#</a>
                    <li><a href="#">Fengsel#WAIT_JAIL#</a></li>
                    <li><a href="#">Flyplass#WAIT_AIR#</a></li>
                    <li><a href="#">Drap#WAIT_KILL#</a></li>
                    <li><a href="#">Oppdrag</a></li>
                </ul>
                <h2>Verdier</h2>
                <ul>
                    <li><a href="#">Svartebørsen</a></li>
                    <li><a href="#">Bunker#WAIT_BUNKER_USER#</a></li>
                    <li><a href="#">Banken</a></li>
                    <li><a href="#">Poeng</a></li>
                    <li><a href="#">Verving</a></li>
                    <li><a href="#">Auksjon</a></li>
                    <li><a href="#">Firmaer</a></li>
                    <li><a href="#">Garasje</a></li>
                </ul>
                <h2>Kommunikasjon</h2>
                <ul>
                    <li><a href="#">Innboks #USER_INBOX#</a></li>
                    <li><a href="#">Send inn søknad!</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Spillere pålogget</a> (#ONLINE_USERS#)</li>
                    <li><a href="#">Nyheter</a></li>
                    <li><a href="#">Ledelsen</a></li>
                </ul>
                <h2>Sosialt</h2>
                <ul>
                    <li><a href="#">Chat</a>(#CHATS_NUMBER#)</li>
                    <li><a href="#">Generelt Forum </a></li>
                    <li><a href="#">Salg og Søknadsforum</a></li>
                    <li><a href="#">Annet</a></li>
                    <li><a href="#">Gjengene</a></li>
                </ul>
                <h2>Gambling</h2>
                <ul>
                    <li><a href="#">Lotto</a></li>
                    <li><a href="#">Blackjack</a></li>
                </ul>
            </div>
            <div id="main">
                ##CONTENT##
            </div>
            <div id="rightmenu"><h2>#USERNAME#</h2>
                <a href="profil.php?id=#USER_ID#"><img alt="" id="avatar" src="#USER_IMAGE#"></a>
                #PANELS#
                <ul>
                    <li>Rank: #USER_RANK#</li>
                    <li>Ute: #USER_HAND#kr</li>
                    <li>Poeng: #USER_POINTS#</li>
                    <li>By: #USER_CITY#</li>
                    <li>Liv: #USER_HP#%<br>
                        <div style="width:100px;height:4px;background: #f00;">
                            <div style="width:#USER_HP#%;height:4px;background: #0f0;"></div>
                        </div>
                    </li>
                    <li>Familie: #USER_FAMILY#</li>
                    <li>Kuler: #USER_BULLETS#</li>
                    <li>Våpen: #USER_WEAPON#</li>
                </ul>
                <h2>Oversikt</h2>
                <ul>
                    <li><a href="/FAQ">FAQ</a></li>
                    <li><a href="Koder">BB-koder</a></li>
                    <li><a href="minside.php">Min side</a></li>
                    <li><a href="statistikk.php">Statistikk</a></li>
                    <li><a href="Ranstikk">Ran statistikk</a></li>
                </ul>
                <h2>Innstillinger</h2>
                <ul>
                    <li><a href="endre.php">Endre innstillinger</a></li>
                    <li><a href="finnspiller.php">Finn spiller</a></li>
                    <li><a href="endreprofil.php">Endre profil</a></li>
                    <li><a href="nypassord.php">Endre passord</a></li>
                    <li><a href="loggut.php" onclick="return confirm('Er du sikker på at du vil logge ut? ')">Logg
                        ut</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
#FOOTER#
<script>
    $(document).ready(function () {
        $(document).bind("click", function (event) {
            $("div.custom-menu").remove();
        });
        $("a.user_menu").bind("contextmenu", function (event) {
            event.preventDefault();
            let id = $(this).attr("data-id");
            let user = $(this).attr("data-user");
            $("body")
                .append("<div class=\"custom-menu\"><ul><li><a href=\"profil.php?id=" + id + "\">Gå til Profil</a></li><li><a href=\"innboks.php?ny&usertoo=" + user + "\">Send melding</a></li><li><a href=\"bank.php?til=" + user + "\">Send penger</a></li></ul></div>");
            $("div.custom-menu").css({top: event.pageY + "px", left: event.pageX + "px"});
        });
        $("#ct").on("click", function () {
            window.location.href = "chat.php";
        });
    });
</script>
</body>
</html>
